* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(23, 23, 23);
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div {
  margin-bottom: 10px;
}

button {
  background-color: rgb(28, 28, 28);
  border: none;
  color: white;
  width: 400px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000;
}

section {
  width: 400px;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 4px;
  display: block;
}

.slideTop {
  display: none;
}

.slideDown {
  display: block;
}


