* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: bold;
  margin-bottom: 40px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 270px;
  width: 200px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}

input {
  margin-bottom: 30px;
  width: 150px;
  height: 25px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 10px 5px;
}

label {
  font-size: 0.8em;
  margin-left: -100px;
}

button {
  background-color: rgb(43, 43, 225);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: 150px;
  margin-top: 10px;
  cursor: pointer;
}

#result {
  margin-top: 15px;
}
