* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#txt {
  height: 150px;
  width: 370px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 5px;
  margin-bottom: 10px;
}

#count {
  margin-left: -315px;
  font-weight: 600;
  font-size: 0.9em;
}

