* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0a0a0a;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.8;
  cursor: pointer;
}

.underline-simple {
  display: inline-block;
  background-image: linear-gradient(#0a0a0a, #0a0a0a);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center calc(100% - 8px);
  background-size: 40% 3px;
}


main {
  height: 400px;
  width: 700px;
  background-color: transparent;
  margin-top: 40px;
  border: 2px solid #0a0a0a;
  border-radius: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

